/*page settings*/
.page {
  width: 300px;
  height: 100px;
  padding: 8% 0 0;
  margin: auto;
}
/*form settings*/
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-height: 250px;
  max-width: 250px;
  margin: 0 auto 100px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/*form button settings*/
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 250px;
  border: 0;
  padding: 30px;
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
/*button logout settings*/
.buttonLogout {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 50px;
  height: 20px;
  border: 0;

  color: #FFFFFF;
  font-size: 8px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
/*button logout settings*/
.buttonLogout:hover,
.buttonLogout:active,
.buttonLogout:focus {
  background: #43A047;
}
/*button form logout settings*/
.form button:hover,
.form button:active,
.form button:focus {
  background: #43A047;
}
/*button form message settings*/
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
/*button form message settings*/
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
/*button container settings*/
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
/*button container settings*/
.container:before,
.container:after {
  content: "";
  display: block;
  clear: both;
}
/*button container info settings*/
.container .info {
  margin: 50px auto;
  text-align: center;
}
/*button container info settings*/
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
/*button container info settings*/
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
/*button container info settings*/
.container .info span a {
  color: #000000;
  text-decoration: none;
}
/*button container info settings*/
.container .info span .fa {
  color: #EF3B3A;
}
/*menu settings*/
.menu1 {
  background-image: url("Images/menuBackground.jpg");
  /* fallback for old browsers */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*user settings*/
.user{
  background: #0E5004;
  width: 150px;
  height: 140px;
  max-width: 250px;
  display: inline-block;
  float: right;
  text-align: center;
}
/*user image settings*/
.user img{
  margin-top: 10px;
}
/*user p settings*/
.user p{
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
/*logo settings*/
.logo{
  position: fixed;
    left: 0; right:0; top:0;
    margin: auto;
    height: 100px;
    width: 400px;
}