/* border box */
* {
    box-sizing: border-box;
}

/* small ball */
.small2 {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: transparent;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* small ball */
.small1 {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50vh;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: transparent;
}

/* big icon */
.bigcon {
    position: absolute;
    height: 95px;
    width: 95px;
    top: 50vh;
    left: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: transparent;
    animation: bigcon 2s infinite linear;
    animation-delay: 0.25s;
}

/* ball */
.ball {
    border-radius: 50%;
    position: absolute;
}

/* small settings */
.small {
    width: 25px;
    height: 25px;
    animation: small 2s infinite ease;
    box-shadow: 0px 2px rgba(0,0,0,0.3);
    background-color: #46b9ff;
}

/* small settings */
.small:nth-child(1) {
    top: 0%;
    left: 0%;
}

/* small settings */
.small:nth-child(2) {
    top: 0%;
    right: 0%;
}

/* small settings */
.small:nth-child(3) {
    right: 0%;
    bottom: 0%;
}

/* small settings */
.small:nth-child(4) {
    bottom: 0%;
    left: 0%;
}

/* big ball settings */
.big {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    box-shadow:0px 0px 10px #54f7f8, 0px 0px 20px #54f7f8, 0px 0px 30px #54f7f8, 0px 0px 50px #54f7f8, 0px 0px 60px #54f7f8 ;
    z-index: 1;
    background-color: #54f7f8;
    animation: bigball 1s infinite linear;
}

/* small ball settings */
.smallball1{
    animation-delay: -1.75s;
}
/* small ball settings */
.smallball6{
    animation-delay: -1.5s;
}
/* small ball settings */
.smallball2{
    animation-delay: -1.25s;
}
/* small ball settings */
.smallball7{
    animation-delay: -1s;
}
/* small ball settings */
.smallball3{
    animation-delay: -0.75s;
}
/* small ball settings */
.smallball8{
    animation-delay: -0.5s;
}
/* small ball settings */
.smallball4{
    animation-delay: -0.25s;
}
/* small ball settings */
.smallball5{
    animation-delay: -0s;
}
/* bigcon settings */
@keyframes bigcon {
    0% {
        transform-origin: center;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    100% {
        transform-origin: center;
        transform: translate(-50%, -50%) rotate(405deg);
    }
}
/* small settings */
@keyframes small {
    0% {
        transform: scale(1);
        background-color: #46b9ff;
    }
    10% {
        transform: scale(1.3);
        background-color: #54f7f8;
    }
    15% {
        transform: scale(1);
    }
    25%{
        transform: scale(1);
        background-color: #46b9ff;
    }
    100%{
        transform: scale(1);
        background-color: #46b9ff;
    }
}

/* all the page settings */
.allPage{
    width: 1200px;
}
/* page settings*/
.page{
    width: 100%;
    height: 100%;
    margin-left: 40px;
    position: relative;
    margin: auto;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

/* form settings*/
.form {
    position: relative;
    z-index: 1;
    max-width: 100%;
    margin: auto;
    text-align: center;
}
/*buttons settings*/
.buttons{
    align-content:center;
}
/*button settings*/
.button {
    background: #93cbf0;
    background-image: -webkit-linear-gradient(top, #93cbf0, #0065a3);
    background-image: -moz-linear-gradient(top, #93cbf0, #0065a3);
    background-image: -ms-linear-gradient(top, #93cbf0, #0065a3);
    background-image: -o-linear-gradient(top, #93cbf0, #0065a3);
    background-image: linear-gradient(to bottom, #93cbf0, #0065a3);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    border: solid #000000 0px;
    text-decoration: none;
}

/*button settings*/
.button:hover {
    background: #f7f7f7;
    background-image: -webkit-linear-gradient(top, #f7f7f7, #3498db);
    background-image: -moz-linear-gradient(top, #f7f7f7, #3498db);
    background-image: -ms-linear-gradient(top, #f7f7f7, #3498db);
    background-image: -o-linear-gradient(top, #f7f7f7, #3498db);
    background-image: linear-gradient(to bottom, #f7f7f7, #3498db);
    text-decoration: none;
}

/*single player board settings*/
.single1 {
    background-image: url("Images/disney-wallpaper.png");
    background-size: cover;
    /*background: #76b852;*/
    /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* move the elements to the center */
.center {
    position: relative;
    z-index: 1;
    max-width: 100%;
    display: block;
    padding: 45px;
    text-align: center;
}

/* button og log out*/
.buttonOut {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 50px;
    height: 20px;
    border: 0;
    color: #FFFFFF;
    font-size: 8px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

/* button settigs*/
.buttonOut:hover,
.buttonOut:active,
.buttonOut:focus {
    background: #43A047;
}

/*user box settings*/
.user{
    background: #0E5004;
    width: 150px;
    height: 140px;
    max-width: 250px;
    display: inline-block;
    float: right;
    text-align: center;
    margin-top: -130px;
    margin-right: -40;
}

/*user image settings*/
.user img{
    margin-top: 10px;
}

/*user text settings*/
.user p{
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

