/* page settings*/
.login-page {
    width: 100%;
    padding: 8% 0 0;
    margin: auto;
}
/*form settings*/
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 280px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
/*form input settings*/
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
/*form button settings*/
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
/*form button settings*/
.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}
/*form message settings*/
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
/*form message error settings*/
.form .message error {
    margin: 15px 0 0;
    color: #FF0000;
    font-size: 12px;
}
/*form message settings*/
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
/*container settings*/
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
/*container settings*/
.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}
/*container settings*/
.container .info {
    margin: 50px auto;
    text-align: center;
}
/*container settings*/
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
/*container settings*/
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
/*container settings*/
.container .info span a {
    color: #000000;
    text-decoration: none;
}
/*container settings*/
.container .info span .fa {
    color: #EF3B3A;
}
/*background settings*/
.reg1 {
    background-image: url("Images/registrationWallpapers.jpg");
    /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*log settings*/
.log1 {
    background-image: url("Images/loginWallpaper.jpeg");
    /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*icon settings*/
.icon {
    float: right;
    margin-left: 11px;
}